﻿@model ProjectenII.ViewModels.DossiersViewModel

<link href="~/Content/adviesindex.css" rel="stylesheet" type="text/css">
    @foreach (var student in Model.Studenten)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Voorstel.VoorstelStateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Voorstel.IndienDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Campus.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Promotor.Voornaam) @Html.DisplayFor(modelItem => student.Promotor.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Voorstel.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Voorstel.Onderzoeksdomeinen[0].Naam)
            </td>
            <td>
                @if (student.Voorstel != null)
                {
                    @Html.ActionLink("Dossier", "ToonDossier", new { id = student.GebruikersNaam })
                }
                else
                {
                    <p><span class="glyphicon glyphicon-remove-sign"></span> Geen dossier beschikbaar</p>
                }
            </td>
        </tr>
    }
