﻿@model ProjectenII.ViewModels.DossiersViewModel
           
<!--<link href="~/Content/dossier.css" rel="stylesheet" type="text/css">-->
<link href="~/Content/adviesindex.css" rel="stylesheet" type="text/css">        
<h2>Selecteer een dossier om te bekijken</h2>

<table width="100%">
    <tr>
        <th>
            Voornaam  
        </th>
        <th>
            Naam  
        </th>
        
        @if (User.IsInRole("BPC")) {
            <th>
                Status
            </th>
            <th>
                Datum indienen
            </th>
            <th>
                Campus
            </th>
            <th>
                Promotor
            </th>
            <th>
                Werktitel
            </th>
            <th>
                Onderzoeksdomein
            </th>
        }
            <th>
                Dosier
            </th>
    </tr>
    @if (User.IsInRole("BPC"))
    {
        @Html.Partial("_DossierLijstBPC")
    }
    else
    {
         foreach (var student in Model.Studenten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Naam)
                </td>
                <td>
                    @if (student.Voorstel != null)
                    {
                        @Html.ActionLink("Dossier", "ToonDossier", new {id = student.GebruikersNaam})
                    }
                    else
                    {
                        <p><span class="glyphicon glyphicon-remove-sign"></span> Geen dossier beschikbaar</p>
                    }
                   
                 </td>
            </tr>
        }
    }

</table>
