﻿@model ProjectenII.ViewModels.DossiersViewModel
<link href="~/Content/dossier.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Dossier";

}          
@if (TempData["GeenStudent"] != null) { 
<br/>
    <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["GeenStudent"]</div>
}
@if (User.IsInRole("Promotor") || User.IsInRole("BPC"))
{
    @Html.Partial("_DossierLijst")
}
else if (User.IsInRole("Student"))
{
    <br />
    <p>Als student heb je enkel toegang tot je eigen dossier, volg de link om het te bekijken:</p>
    @Html.ActionLink("Toon mijn dossier", "ToonDossier", new { id = User.Identity.Name })
}