﻿@using Microsoft.Ajax.Utilities
@using ProjectenII.Models.Domain
@model ProjectenII.ViewModels.DossierViewModel
           
<link href="~/Content/dossier.css" rel="stylesheet" type="text/css">

<h2>Dossier student @Model.Student.Voornaam @Model.Student.Naam</h2>

    <h3>Voorstel:</h3>
    <table width="100%">
        <tr><th>Titel:</th><td>@Model.Student.Voorstel.Titel</td></tr>
        <tr><th>Promotor:</th><td>@Model.Student.Promotor.Voornaam @Model.Student.Promotor.Naam</td></tr>
        <tr><th>Co-promotor:</th><td>@Model.Student.Voorstel.CopromotorNaam</td></tr>
        <tr><th>Onderzoeksvraag:</th><td>@Model.Student.Voorstel.Onderzoeksvraag</td></tr>
        <tr><th>Onderzoeksdomeinen:</th><td>
                                            @foreach (var domein in Model.Student.Voorstel.Onderzoeksdomeinen)
                                            {
                                                @Html.DisplayFor(modelItem => domein.Naam)<br />
                                            }
                                        </td>
        </tr>
        <tr><th>Probleemstelling:</th><td>@Model.Student.Voorstel.Probleemstelling</td></tr>
        <tr><th>Plan van aanpak:</th><td>@Model.Student.Voorstel.PlanVanAanpak</td></tr>
        <tr><th>Referentielijst:</th><td>@Model.Student.Voorstel.Referentielijst</td></tr>
        <tr><th>Trefwoorden:</th><td>@Model.Student.Voorstel.Trefwoorden</td></tr>
    </table>

    @if (User.IsInRole("BPC") || User.IsInRole("Promotor") || (User.IsInRole("Student") && (Model.Student.Voorstel.VoorstelStateString == "Goedgekeurd" || Model.Student.Voorstel.VoorstelStateString == "GoedgekeurdMetOpmerkingen")))
    {
        <h3>Feedback:</h3>
        <p>
            <h4>Beoordeling:</h4>
            @foreach (var vraag in Model.Vragen)
            {
                <p>
                    - @Html.DisplayFor(modelItem => vraag.Text) <br />
                    --> @Model.Student.Voorstel.GetLikertAntwoorden()[vraag.Id - 1]
                </p>
            }
        </p>
        <p>
            <h4>Opmerkingen:</h4>
            @Model.Student.Voorstel.Opmerking
        </p>
        if (User.IsInRole("BPC"))
        {
            <p>
                <h5>Advies:</h5>
                @Model.Student.Voorstel.Advies
            </p>
        }
    }

    @if (User.IsInRole("Promotor"))
    {
        <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-hand-left"></span> Terug naar overzicht</a><br />
        @Html.ActionLink("Evalueer", "GeefEvaluatie", new {promotor = Model.Student.Promotor, id = Model.Student.GebruikersNaam})
    }