﻿@model ProjectenII.ViewModels.EnkelGebruikersnaamViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Mijn opties</title>
</head>
    <body>
        <div>
            <h2>Welkom @Model.Voornaam @Model.Naam!</h2>
        </div> 
        <h3>Uw opties:</h3>
        <ul>
            @if (User.IsInRole("Student"))
            {
                <li>@Html.ActionLink("Voorstellen", "Index", "Voorstel")</li>
                <li>@Html.ActionLink("Dossier", "Index", "Dossier")</li>
            }
            @if (User.IsInRole("BPC"))
            {

            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                <li>@Html.ActionLink("Advies geven", "Index", "Advies")</li>
                <li>@Html.ActionLink("Dossier", "Index", "Dossier")</li>

            }
            @if (User.IsInRole("Promotor"))
            {
                <!--<li>at*Html.ActionLink("Home", "Index", "Home")</li>-->
                <li>@Html.ActionLink("Evalueren", "Index", "Evalueer")</li>
                <li>@Html.ActionLink("Dossier", "Index", "Dossier")</li>
            }
        </ul>
    </body>
</html>
