﻿@model ProjectenII.Models.NieuwWachtwoordModel

@using (Html.BeginForm("NieuwWachtwoord", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Wachtwoord vergeten? Hier kan je een nieuw aanvragen. We sturen het zo snel mogelijk naar je op!</h4>
    <p>@ViewBag.Waarschuwing</p>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.GebruikersNaam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GebruikersNaam, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Vraag wachtwoord aan" class="btn btn-default" />
        </div>
    </div>
}
