﻿@model ProjectenII.Models.WijzigWachtwoordModel
@{
    ViewBag.Title = "Wachtwoord Wijzigen";
} 
    <h4>Wachtwoord wijzigen</h4>
    @if (@TempData["EersteAanmelding"]!=null)
    {
    <div class="alert alert-info"><span class="glyphicon glyphicon-bell"></span> @TempData["EersteAanmelding"]</div>
    }
    @if (ViewBag.Waarschuwing != null)
    {
    <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Waarschuwing</div>
    }
    <hr />
@using (Html.BeginForm("WijzigWachtwoord", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.GebruikersNaam, (object)ViewBag.GebruikersNaam)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wijzig wachtwoord" class="btn btn-default" />
        </div>
    </div>
}
