﻿body {
}

table, td, th
{
border:1px solid black;
}
th
{
background-color:black;
color:white;
}
td
{
padding:15px;
}
tr:nth-child(even) { background-color: #E0F0FF;}
tr:nth-child(odd) { background-color: #FFF;}