﻿@model ProjectenII.ViewModels.AdviesViewModel

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Student.Naam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Student.Naam</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student.Voornaam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Student.Voornaam</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Student.Email</p>
            </div>
        </div>

        <form>

            <div class="form-group">
                @Html.LabelFor(model => model.Voorstel.CopromotorNaam, "Naam co-promotor", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p style="width: 700px">@Model.Voorstel.CopromotorNaam</p>
                </div>
            </div>
        </form>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.CopromotorEmail, "Email co-promotor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Voorstel.CopromotorEmail</p>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Titel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Voorstel.Titel</p>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Onderzoeksvraag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Voorstel.Onderzoeksvraag</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Onderzoeksdomeinen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var od in Model.Voorstel.Onderzoeksdomeinen)
                {
                    @od.Naam <br />
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Probleemstelling, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Voorstel.Probleemstelling</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.PlanVanAanpak, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px"> @Model.Voorstel.PlanVanAanpak</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Referentielijst, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Voorstel.Referentielijst</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Trefwoorden, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 1000px">@Model.Voorstel.Trefwoorden</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.LikertVragen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    @foreach (var l in Model.Voorstel.LikertVragen)
                    {
                        <tr>
                            <td>
                                <b>@l.Vraag</b>
                            </td>
                            <td>
                                - @l.Value
                            </td>
                        </tr>

                    }
                </table> </div>
        </div>

    </div>
