﻿@using ProjectenII.Models.Domain
@model ProjectenII.ViewModels.AdviesViewModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeefAdvies</title>
</head>
    <body>
       
        <h4>Voorstel indienen</h4>
        <hr />
        
        <h3>Voorstel</h3>
        
        @Html.Partial("_Voorstel")
        
       
        <div>
            @Html.LabelFor(model => model.Voorstel.VraagAanBPC, new { @class = "control-label col-md-2" })
            <div>
                <p style="width: 700px">@Model.Voorstel.VraagAanBPC</p>
            </div>
        </div>
        
        
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)
        
        <br/>
        <h3>Geef advies:</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Advies, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Voorstel.Advies, new { @style = "height: 300px; width: 1000px;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Geef Advies" class="btn btn-default" />
            </div>
        </div>
    </div>
}

        <div>
            <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-hand-left"></span> Terug naar overzicht</a>
        </div>
    </body>
</html>
