﻿@model ProjectenII.ViewModels.AdviesIndexViewModel

@{
    ViewBag.Title = "Kies voorstel om advies aan te geven"; ;
}

<!DOCTYPE html>

<html>
    <head>
        <link href="~/Content/adviesindex.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width" />
        <title>GeefAdvies</title>
    </head>
<body>

    <h2> Selectie voorstel</h2>

@if (!Model.Studenten.ToList().Any())
{
    <div class="alert alert-info"><span class="glyphicon glyphicon-bell"></span> Er werden geen voorstellen gevonden om advies te geven.</div>

}
else
{
    <table width="100%">
        <tr>
            <th>
                Naam
            </th>
            <th>
                Voornaam
            </th>
            <th>
                Email
            </th>
            <th>
                Titel
            </th>
            <th>Advies</th>
        </tr>
        @foreach (var student in Model.Studenten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Titel)
                </td>
                <td>
                    @Html.ActionLink("Geef advies", "GeefAdvies", new {id = student.Gebruikersnaam})
                </td>
            </tr>
        }

    </table>
}
</body>
</html>