﻿@model ProjectenII.ViewModels.GeefEvaluatieViewModel

@{
    ViewBag.Title = "Evalueer voorstel";

}
<head>
    <title>Voorstel evalueren</title>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("textarea").autosize();
        });
        function zichtbaarVraagAanBPC() {
            var x = document.getElementById("vraagAanBPCboolean").checked;
            var leeg = document.getElementById("Leegmaken").checked;
            if (leeg) {

                document.getElementById("TekstOpmerking").disabled = true;
                document.getElementById("TekstAdvies").disabled = true;
            } else {
                if (x) {

                    document.getElementById("TekstAdvies").disabled = false;
                    document.getElementById("TekstOpmerking").disabled = true;
                } else {

                    document.getElementById("TekstOpmerking").disabled = false;
                    document.getElementById("TekstAdvies").disabled = true;
                }
            }
        }
        function leegmaken() {
            var leeg = document.getElementById("Leegmaken").checked;
            var vraagBPC = document.getElementById("vraagAanBPCboolean").checked;
            var opmerking = document.getElementById("opmerkingboolean").checked;
            if (leeg == false && vraagBPC == false && opmerking == false) {
                alert("Gelieve een optie te kiezen (Vraag aan de bpc, opmerking of geen van beide).");
                return false;
            }
            if (leeg) {
                document.getElementById("TekstOpmerking").val="";
                document.getElementById("TekstAdvies").val="";
              }
            if (vraagBPC) {
                document.getElementById("TekstOpmerking").val = "";
            } else {
                document.getElementById("TekstAdvies").val = "";
            }
        }
        function afkeuren() {
            var r = confirm("U staat op het punt het voorstel af te keuren en de gegevens te verwijderen, bent u zeker? \nDeze actie kan niet ongedaan worden gemaakt.\nTip: U kan nog extra opmerkingen meegeven!");
            if (r == true) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>

</head>
<h2>Evalueer</h2>
<div class="form-horizontal, content-wrapper">

    <h4>Onderaan kan u het voorstel evalueren</h4>
    <hr />
    @Html.ValidationSummary(true)

    <h3>Voorstel:</h3>
    <div class="form-group">
        @Html.LabelFor(model => model.Student.Naam, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Student.Naam</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Student.Voornaam, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Student.Voornaam</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Student.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Student.Email</p>
        </div>
    </div>

    <form>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.CopromotorNaam, "Naam co-promotor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="width: 700px">@Model.Voorstel.CopromotorNaam</p>
            </div>
        </div>
    </form>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.CopromotorEmail, "Email co-promotor", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Voorstel.CopromotorEmail</p>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.Titel, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Voorstel.Titel</p>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.Onderzoeksvraag, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Voorstel.Onderzoeksvraag</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.Onderzoeksdomeinen, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @foreach (var od in Model.Voorstel.Onderzoeksdomeinen)
            {
                @od.Naam <br />
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.Probleemstelling, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Voorstel.Probleemstelling</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.PlanVanAanpak, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px"> @Model.Voorstel.PlanVanAanpak</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.Referentielijst, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 700px">@Model.Voorstel.Referentielijst</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voorstel.Trefwoorden, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="width: 1000px">@Model.Voorstel.Trefwoorden</p>
        </div>
    </div>
</div>
<h3>Feedback:</h3>
@using (Html.BeginForm())
{
    <div>
        @Html.AntiForgeryToken()
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Voorstel.LikertVragen, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(x => x.Voorstel.LikertVragen)

                    </div>
                </div>
            </div>

 
  
       

        <div class="form-group">
            <label class="control-label col-md-2">Advies of opmerking</label>
            <div class ="control-label col-md-10">
                <form>
                    <input type="radio" id="vraagAanBPCboolean" name="vraagAanBPC" value="vraagAanBPC" onchange="zichtbaarVraagAanBPC()">Advies vragen aan de bachelorproef coördinator <i>(maakt opmerkingen veld leeg)</i><br />
                    <input type="radio" id="opmerkingboolean" name="vraagAanBPC" value="opmerking" onchange="zichtbaarVraagAanBPC()">Opmerking geven <i>(maakt vraag aan bpc veld leeg)</i><br/>
                    <input type="radio" id="Leegmaken" name="vraagAanBPC" value="leeg" onchange="zichtbaarVraagAanBPC()" checked>Geen van beide <i>(maakt beide velden leeg)</i><br />
                </form>
            </div>
        </div>


        <div>
            @Html.LabelFor(model => model.Voorstel.VraagAanBPC, new { @class = "control-label col-md-2" })
            <div class="control-label col-md-10">
                Vragen zullen worden verstuurd via e-mail naar de BPC.
                <label class="col-md-10">
                    @Html.TextAreaFor(model => model.Voorstel.VraagAanBPC, new { @class = "control-label col-md-10", @rows = "10", @id = "TekstAdvies", @disabled = true })
                </label>
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Voorstel.Opmerking, new { @class = "control-label col-md-2" })
            <div class="control-label col-md-10">
                Opmerkingen zullen worden verstuurd via e-mail naar de student en de BPC.
                <label class="col-md-10">
                    @Html.TextAreaFor(model => model.Voorstel.Opmerking, new { @class = "control-label col-md-10 ", @rows="10", @id = "TekstOpmerking", @disabled = true })
                </label>
            </div>
        </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Evalueer" name="button" class="btn btn-default" onclick="javascript: return leegmaken()">
                        <input type="submit" value="Save" name="button" class="btn btn-default" onclick="javascript: return leegmaken()" />
                        <input type="submit" value="Afkeuren" name="button" class="btn btn-danger" onclick="javascript: return afkeuren()" />
                    </div>
                </div>
            </div>
            }

<div>
    <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-hand-left"></span> Terug naar overzicht</a>
</div>
