﻿@model ProjectenII.ViewModels.EvalueerViewModel

@{
    ViewBag.Title = "Evalueren";
   
}
<link href="~/Content/adviesindex.css" rel="stylesheet" type="text/css">
<h2>Selecteer een voorstel om te evalueren</h2>
@if (@TempData["Melding"] != null)
{
    <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["Melding"]</div>
}
@if (@TempData["Geslaagd"] != null) 
{ 
    <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> @TempData["Geslaagd"]</div>
}
@if (!Model.Studenten.ToList().Any())
{
        <div class="alert alert-info"><span class="glyphicon glyphicon-bell"></span> Er werden geen voorstellen gevonden om te evalueren.</div>

}
else { 
    <table width="100%">
        <tr>
            <th >
                Naam   
            </th>
            <th >
                Voornaam
            </th>
            <th>Titel   </th>
            <th >Evalueer</th>
        </tr>
    
        @foreach (var student in Model.Studenten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Naam)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => student.Voorstel.Titel)
                </td>
                <td>
                    @Html.ActionLink("Evalueer", "GeefEvaluatie", new { id = student.GebruikersNaam })
                </td>
            </tr>
            
         
        }
    </table>}