﻿@model ProjectenII.ViewModels.CreateViewModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Indienen Voorstel</title>
    <script type="text/javascript" language="javascript">

        function limitOptions(oSel, howmany) {
            var opt, i = 0, msg = '', thismany = howmany, toomany = new Array();
            while (opt = oSel.options[i++]) {
                if (opt.selected)--howmany;
                if (howmany < 0) toomany[toomany.length] = opt;
            }
            if (howmany < 0) {
                msg += 'Je mag maximaal ' + thismany + ' onderzoeksdomeinen selecteren.';
                msg += '\n\nGelieve deze limiet te respecteren.\n\n';
                alert(msg);
                i = 0;
                while (opt = toomany[i++]) opt.selected = false;
                return false;
            }
        }

        function checkform() {
            var naam = $('#Voorstel_CopromotorNaam').val();
            var email = $('#Voorstel_CopromotorEmail').val();
            if (naam == "" && email != "") {
                alert("Gelieve co-promotornaam ook in te geven.");
                return false;
            }
            if (email == "" && naam != "") {
                alert("Gelieve co-promotoremail ook in te geven.");
                return false;
            }
        }

    </script>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Voorstel indienen</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Student.Naam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Student.Naam, new { disabled = "disabled", style = "width: 700px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student.Voornaam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Student.Voornaam, new { disabled = "disabled", style = "width: 700px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Student.Email, new { disabled = "disabled", style = "width: 700px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.CopromotorNaam, "Naam co-promotor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Voorstel.CopromotorNaam, new { style = "width: 700px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.CopromotorEmail, "Email co-promotor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Voorstel.CopromotorEmail, new { style = "width: 700px;" })
                @Html.ValidationMessageFor(model => model.Voorstel.CopromotorEmail)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Titel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Voorstel.Titel, new { style = "width: 700px;" })
                @Html.ValidationMessageFor(model => model.Voorstel.Titel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Onderzoeksvraag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Voorstel.Onderzoeksvraag, new { style = "width: 700px;" })
                @Html.ValidationMessageFor(model => model.Voorstel.Onderzoeksvraag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Onderzoeksdomeinen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Voorstel.GeselecteerdeDomeinen, Model.Onderzoeksdomeinen, new { Multiple = "multiple", Size = 5, style = "width: 150%;", onchange = "return limitOptions(this, 2)" })
                @Html.ValidationMessageFor(model => model.Voorstel.GeselecteerdeDomeinen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Probleemstelling, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Voorstel.Probleemstelling, new { style = "height: 300px; width: 1000px;" })
                @Html.ValidationMessageFor(model => model.Voorstel.Probleemstelling)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.PlanVanAanpak, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Voorstel.PlanVanAanpak, new { style = "height: 300px; width: 1000px;" })
                @Html.ValidationMessageFor(model => model.Voorstel.PlanVanAanpak)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Referentielijst, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Voorstel.Referentielijst, new { style = "height: 300px; width: 1000px;" })
                @Html.ValidationMessageFor(model => model.Voorstel.Referentielijst)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voorstel.Trefwoorden, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Voorstel.Trefwoorden, new { style = "height: 150px; width: 1000px;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dien in" name="button" class="btn btn-default" onclick="javascript: return checkform()" />
                <input type="submit" value="Save" name="button" class="btn btn-default" onclick="javascript: return checkform()" />
            </div>
        </div>
    </div>
    }
    
    <div>
        <a href="@Url.Action("Index")"><span class="glyphicon glyphicon-hand-left"></span> Terug naar overzicht</a>
    </div>
</body>
</html>
