﻿@model ProjectenII.ViewModels.StudentIndexViewModel
<!DOCTYPE html>
@{
    ViewBag.Title = "Voorstel";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h3>Voorstel</h3>
        <h4>Mogelijke opties:</h4>

            @if (@TempData["MessageFail"] != null)
            {
                <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["MessageFail"]</div>
            }
            @if (@TempData["MessageSucces"] != null)
            {
                <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> @TempData["MessageSucces"]</div>
            }

            <br/>
        
            @if (Model.ReedsVoorstel.Equals("nieuw"))
            {
                <a href="@Url.Action("Create", "Voorstel")"><span class="glyphicon glyphicon-plus-sign"></span> Maak een nieuw voorstel aan.</a>
                
            }
            else
            {
                if (Model.ReedsVoorstel.Equals("nee"))
                {
                 <a href="@Url.Action("Create", "Voorstel")"><span class="glyphicon glyphicon-edit"></span> Bewerk je voorstel</a>
                }
                else
                {
                  <div class="alert alert-info"><span class="glyphicon glyphicon-bell"></span> Je kan geen wijzigen aanbrengen aan je voorstel.</div>
                }}
    </div>
</body>
</html>
