﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
    @RenderSection("featured", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bachelorproef portaal", "MijnOpties", "Account", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Student"))
                    {
                        <li>@Html.ActionLink("Voorstellen", "Index", "Voorstel")</li>
                        <li>@Html.ActionLink("Dossier", "Index", "Dossier")</li>
                    }
                    @if (User.IsInRole("BPC"))
                    {
                        <li>@Html.ActionLink("Advies", "Index", "Advies")</li>
                        <li>@Html.ActionLink("Dossier", "Index", "Dossier")</li>
                    }
                    @if (User.IsInRole("Promotor"))
                    {
                        <li>@Html.ActionLink("Evalueren", "Index", "Evalueer")</li>
                        <li>@Html.ActionLink("Dossier", "Index", "Dossier")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ProjectenII - Groep 11 - Sander Keymeulen, Thomas Van der Eecken, Jon Jacobs en Glenn Tecqmenne</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
