﻿@model ProjectenII.Models.Domain.LikertVraag
<div>
    
        <h5><b>@Model.Vraag</b></h5>
    <p>
        <table style="width: 500px; padding: 15px; border-spacing: 5px; text-align: center; " >
            <td>
                @Html.RadioButtonFor(b => b.Value, "Zeer slecht") Zeer slecht
            </td>
            <td>
                @Html.RadioButtonFor(b => b.Value, "Slecht") Slecht
            </td>
            <td>
                @Html.RadioButtonFor(b => b.Value, "Middelmatig") Middelmatig
            </td>
            <td>
                @Html.RadioButtonFor(b => b.Value, "Goed") Goed
            </td>
            <td>
                @Html.RadioButtonFor(b => b.Value, "Zeer goed") Zeer goed
            </td>

        </table>
        <br />
        <br />
    </p>
   
</div>